@import "ad-gallery";
@import "settings";

@import "../../components/normalize-scss/_normalize.scss";
@import "jquery.fancybox";

// @import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
 @import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
//@import "foundation/components/button-groups";
//@import "foundation/components/buttons";
@import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
//@import "foundation/components/flex-video";
//@import "foundation/components/forms";
@import "foundation/components/grid";
//@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
//@import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
//@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/reveal";
//@import "foundation/components/side-nav";
// @import "foundation/components/split-buttons";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
//@import "foundation/components/thumbs";
@import "foundation/components/top-bar";
// @import "foundation/components/tooltips";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// foundation icon fonts 3
//@import "foundation-icons";

.top-bar .name h1 a:before {
    background-image: image-url('logo.jpg');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 65px;
    width: 340px;
    margin-right: 10px;
    position: relative;
}

#descriptions > p {
  font-family: 'Alegreya Sans SC';
  text-align: center;
  font-weight: 300;
}

.gallery-list > .row {
  padding-bottom: 20px;
}

.gallery-label { float: left; }

.statement-label { float: right; }
.statement-container { display:none; }
#statement { width: 500px; }

.info-container {
  display: inline-block;
}

.centered { text-align: center; }

.index .info-container {
  color: #7c7061;
  background-color: #bab2a5;
}

.index .info-container p {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.about .info-container {
  display: table;
}

.about .info-container .info-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

.info .info-container {
  display: table;
}

.info .info-container .info-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}

.contact .info-container {
  display: table;
}

.contact .info-container .info-inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}