
@import "settings";

@import "../../components/normalize-scss/_normalize.scss";

// @import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
 @import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
@import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
//@import "foundation/components/flex-video";
//@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
 @import "foundation/components/keystrokes";
@import "foundation/components/labels";
// @import "foundation/components/magellan";
 @import "foundation/components/orbit";
@import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/reveal";
@import "foundation/components/side-nav";
// @import "foundation/components/split-buttons";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
@import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
@import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// foundation icon fonts 3
//@import "foundation-icons";

.top-bar .name h1 a:before {
    background-image: image-url('logo.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 45px;
    margin-right: 10px;
    position: relative;
    width: 236px;
}

.gallery .row {
  padding-bottom: 20px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid;
}

.middle {
  vertical-align:middle;
}

.th {
//  width: 255px;
//  height: 228px;
}

.th a {
//  vertical-align: middle;
}

/***** Fix Block Grid and Clearing Compatibility *****/
[class*="block-grid-"] {
display: inline-block!important;
margin: 0 -0.625em!important;
padding: 0!important;
}
[class*="block-grid-"] li {
margin-right:0!important;
text-align: center;
height:auto;
}
.clearing-blackout li {
clear:inherit!important;
}