---
body_class: contact
---
.row
  .small-12.columns
    %h3
      Contact Us
    %p
      %a{href: "mailto:studio@cameroneditions.com"}studio@cameroneditions.com
    %p
      Resume/CV and price list available upon request
    %p
      %img{src: "/images/contact.jpg", style: "float: right;"}