---
title: Cameron Editions
body_class: gallery
images:
  - filename: aubergine-landscape-2730.jpg
  - filename: cosmic-clouds-2896.jpg
  - filename: cosmic-landscape-2898.jpg
  - filename: cosmic-landscape-2907.jpg
  - filename: cosmic-landscape-2916.jpg
  - filename: cosmic-landscape-2925.jpg
  - filename: cosmic-landscape-2926.jpg
  - filename: cosmic-nightfall.jpg
  - filename: inflow-2.jpg
  - filename: inflow-3.jpg
  - filename: inflow-5.jpg
  - filename: light-landscape-2652.jpg
  - filename: light-landscape-2662.jpg
  - filename: light-landscape-2679.jpg
  - filename: light-landscape-2994.jpg
  - filename: lightfall-3032.jpg
  - filename: lightfall-3041.jpg
  - filename: lightfall-3496.jpg
  - filename: lightfall-golden-3003.jpg
  - filename: lightfall-rays-2772.jpg
  - filename: lightpool-3315.jpg
  - filename: tidal-light-a.jpg
  - filename: tidal-light-b.jpg
---
.container
  .ad-gallery#gallery
    .ad-image-wrapper
    .ad-controls
    .ad-nav
      .ad-thumbs
        %ul.ad-thumb-list
          - current_page.data.images.each_with_index do |image, index|
            %li
              %a{href: "/images/light-landscapes/#{image.filename}"}
                %img{src: "/images/thumbs/light-landscapes/#{image.filename}", class: "image#{index}"}
  
