---
body_class: info
---
.row
  .small-12.columns
    %p
      All works are provided print only (no mounting or framing is included unless requested) on satin fine art paper. Edition quantity for each is specified on the gallery page.
    %p
      Resume/CV and price list available upon request 
      %a{href: "mailto:studio@cameroneditions.com"}studio@cameroneditions.com
    %h4
      Artist Statements
    %h5
      Light Lanscapes
    %p
      These natural, non-manipulated works explore a collection of reflective, textural surfaces found in a lively urban environment.  The photographic macro views emulate a cosmic landscape with bold electrical effects and cloud formations; in actual fact, the saturated color and composition are from nearby traffic lights and neon signs in storefront windows reflected from an uneven metallic surface.
    %p
      Building this collection of works over several nights and locations allowed Angela to utilize several different angles and light variations to achieve a stunning body of work that explores the unseen landscapes and details that exist in our world, unobserved by the naked eye.
    %h5
      Surfacescapes
    %p
      Inconspicuous beautiful landscapes are the focus of this body of work using macro close-ups and Cameron’s unique perspective of angles and natural light. These unaltered Surface Scapes mimic a sense of warm summer storms rolling over the ocean with layers of glowing color and drama in the sky.  Completely unaltered and created on location, these works explore a world that is not apparent to passers by.
    %h5
      Still Trees
    %p 
      Absence of directional lighting allows us to appreciate the simple graphic composition of this body of works, using Cameron’s signature photographic style. Utilizing controlled camera motion, the trees are simplified with timeless texture and emotion through natural hues and a painterly feel. These beautiful Still Trees are some of Cameron’s most sought after Limited Edition works.
    %h5
      Visceral Orchid
    %p
      %img{src: "/images/info.jpg", style: "float: right; margin-left: 20px;"}
      Layers of luminous light are captured through delicate floral petals using Cameron’s signature camera techniques. The painterly brush stroke effects with subtle sharp detail compliment the unique natural essence of this body of work.
    %h5
      Abstracted Nature
    %p
      Emotionally capturing ordinary subject matter and turning it into extraordinary imagery through the creative use of light, color and keen observation is what Angela Cameron produces with each new body of work. Her photographic talents explore controlled movement and macro angles to achieve a painterly view of our world.
    %p
      All works are created on location, without computer alteration. Cameron’s philosophy and approach is to create works that emulate a painting that evokes emotion, therefore heightening a personal connection between nature and modern abstraction.