---
body_class: about
---
.row
  .small-12.columns
    %h3
      About Us
    %p
      Angela Cameron is an extremely driven and independent woman who has built a successful company based around her talents 
      and passion for photography.  Her keen eye and natural creative talents allowed Angela to capture a unique perspective of our
      world through a camera lens and achieve a very signature style. 
    %p
      Born in Ontario and raised in Manitoba; Angela’s eyes were opened to the diverse natural environment and appreciate everything 
      it’s beauty has to offer. Angela’s passion for art started at an early age when she was drawn to sketching and oil painting as a child. 
      In 1990, she picked up a camera for the first time and fell in love with the magic captured through the lens. While working as a 
      visiting nurse and raising 2 wonderful children in Winnipeg; Angela was an active member of several local camera clubs where she 
      was able to present her growing photography portfolio to peers and various photography competitions throughout North America.  
      Angela has been recognized countless times and has received several prestigious awards consistently since she picked up a camera 
      for the first time. 
      Showcasing many creative camera techniques, extensive darkroom work, experimenting with film types and never ending creativity 
      has quickly gained Angela a reputation for having an eye for detail and modern style.  Angela’s image portfolio reflects the influence 
      of impressionistic art that evokes mood and emotion, which is the key to desirable art. 
    %p
      %img{src: "/images/about-us.jpg", style: "float: right;"}
      In 2005, Angela moved to Vancouver to pursue a career in fine art photography 
      full time. She quickly learned the industry ropes and expanded her horizons to 
      create a stunning portfolio for the hotel and healthcare industries, as well as 
      limited edition collections. Angela’s work can be seen in several luxury hotels 
      worldwide, and has been acquired for many personal collections.
    %p
      Resume/CV available upon request 
      %a{href: "mailto:studio@cameroneditions.com"}studio@cameroneditions.com