---
body_class: gallery-list
---
.row
  .small-12.columns.centered
    %a{href: "/surfacescapes"}
      %img{src: "/images/gallery/surfacescapes.png"}
    %a{href: "/still-trees"} 
      %img{src: "/images/gallery/still-trees.png"}
.row
  .small-12.columns.centered
    %a{href: "/abstracted-nature"}
      %img{src: "/images/gallery/abstracted-nature.png"}
    %a{href: "/light-landscapes"} 
      %img{src: "/images/gallery/light-landscapes.png"}
      