---
body_class: gallery-list
---
.row
  .large-4.columns.large-offset-2
    %a{href: "/light-landscapes"}
      .image
        %img{src: "/images/light-landscapes/logo.jpg"}
      %h4 Light Landscapes
  .large-4.columns.end
    %a{href: "/still-trees"} 
      .image
        %img{src: "/images/still-trees/logo.jpg"}
      %h4 Still Trees
.row
  .large-4.columns.large-offset-2
    %a{href: "/surfacescapes"} 
      .image
        %img{src: "/images/surfacescapes/logo.jpg"}
      %h4 Surfacescapes
  .large-4.columns.end
    %a{href: "/winter-solstice"} 
      .image
        %img{src: "/images/winter-solstice/logo.jpg"}
      %h4 Winter Solstice
      