---
body_class: gallery-list
---
.row
  .large-4.columns.large-offset-2
    %a{href: "/light-landscapes"}
      .image{style: "height: 200px; background-color: #eee;"}
      %h4 Light Landscapes
  .large-4.columns.end
    %a{href: "/still-trees"} 
      .image{style: "height: 200px; background-color: #eee;"}
      %h4 Still Trees
.row
  .large-4.columns.large-offset-2
    %a{href: "/surfacescapes"} 
      .image{style: "height: 200px; background-color: #eee;"}
      %h4 Surfacescapes
  .large-4.columns.end
    %a{href: "/winter-solstice"} 
      .image{style: "height: 200px; background-color: #eee;"}
      %h4 Winter Solstice
      