%nav.pure-menu.pure-menu-open.pure-menu-horizontal
  %a.pure-menu-heading{href: "#"} 
    %img{src: "/images/logo.jpg"}
  %ul.pull-right#menu-items
    %li.pure-menu-selected
      %a{href: "#"} home
    %li
      %a{href: "#"} gallery
    %li
      %a{href: "#"} about
    %li
      %a{href: "#"} info
    %li
      %a{href: "#"} contact